$primary-color : #2261ad;
$success-color : #38a88d;
//$danger-color : #e00000;
$danger-color : #cc0001;
$dark-color : #000000;
$secondary-color: #6C757D;
$info-color: #0DCAF0;
$warning-color: #FFC107;
$light-color: #F3F3F3;
$red-color:#dc3545;
$purple-color: #96268a;